
<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Noto+Serif+KR|Song+Myung&display=swap" rel="stylesheet">
@font-face {font-family: 'Song Myung', serif;}
/*font-family: 'Song Myung', serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Nanum Myeongjo', serif;*/


/* #f8ff39; yellow
   #ff0000; red */


html{
  scroll-behavior: smooth;
  width: 100%;
}

body {background-color: red;}

#fullpage { height: auto; }

#fullpage section{
  height: auto;
}

#fullpage section:nth-child(1){
  background: #ff0000;
}
#fullpage section:nth-child(2){
  background: #ff0000;
}
#fullpage section:nth-child(3){
  background: #ff0000;
}
#fullpage section:nth-child(4){
  background: #ff0000;
}
#fullpage section:nth-child(5){
  background: #ff0000;
}
#fullpage section:nth-child(6){
  background: #ff0000;
}
#fullpage section:nth-child(7){
  background: #ff0000;
}
#fullpage section:nth-child(8){
  background: #ff0000;
}
#fullpage section:nth-child(9){
  background: #ff0000;
}
#fullpage section:nth-child(10){
  background: #ff0000;
}
#fullpage section:nth-child(11){
  background: #ff0000;
}


#always{position: fixed; top:50px; left: 50px; width:100px; height: 100px; }

#floatlg {width:100px; height: 100px;}

#page1{}
#page2{}
#page3{}
#page4{}
#page5{}
#page6{}
#page7{}
#page8{}
#page9{}
#page10{}
#page11{}




#nav {
  font-family: 'Song Myung', serif;
  height: 450px; width:350px;
  left:0px;
  margin: 0; padding-top:100px;
  position: fixed; top:-50px;
  font-weight: 400;
  text-decoration: none;
  }


/*플로트 로고 */
  #nav li {
    position: absolute;
    top:50px;
    left:30px;
    width: 100px;
    height: 50px;
    list-style:none;
    padding-top: 30px;
  }

/* 소소메뉴 */
#nav ul li ul li{
  font-family: 'Song Myung', serif;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
 font-size: 1.2em;
  width:600px;
  letter-spacing: -5px;
  line-height: 2em;

}


#nav ul li{
  position: relative;
  font-family: 'Song Myung', serif;
  list-style-type: none;
  text-decoration: none;
  color: #ffb452;
 font-size: 1em;
  width:300px;
  letter-spacing: -5px;
  left:-30px;
  top:10px;

}

#nav ul{
   display: none;
  font-family: 'Song Myung', serif;
  list-style-type: none;
  text-decoration: none;



}

#nav a{
font-family: 'Song Myung', serif;
font-size: 3em;
letter-spacing:-5px;
text-decoration: none;
color:#f8ff39;
text-shadow: 0 0 10px #ff0000;
line-height: 30px;

}

#nav li:hover ul{
 display: block;
}



#menu1{}
#menu2{}
#menu3{}
#menu4{}
#menu5{}
#menu6{}
#menu7{}

#smenu1 { transition: 0.4s; opacity: 0; }
#smenu2 { transition: 0.4s; opacity: 0; }
#smenu3 { transition: 0.4s; opacity: 0; }
#smenu4 { transition: 0.4s; opacity: 0; }
#smenu5 { transition: 0.4s; opacity: 0; }
#smenu6 { transition: 0.4s; opacity: 0; }
#smenu7 { transition: 0.4s; opacity: 0; }




#maintxt {position: absolute; top:50px;

left:550px; color: #f8ff39;  font-size: 7em; font-weight: 400;
text-shadow: 0 0 10px #ff0000;}

.contents1 {position: relative; width:1920px; height:2000px; overflow: hidden; text-align: center; font-family: 'Song Myung', serif;}



#back-circle {position: absolute; width: auto; left:0;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  @keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    10%{
      transform:rotate(36deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

#top-cloud {position: absolute; width: auto; left:0; top:0px;}
#ground {position: absolute; top:1327px; width: 100%; left:0;}

#middle-cloud {position: absolute; top:560px; width: auto; left:0; animation: downnup 1.5s alternate infinite ease-in;}
  @keyframes downnup {
    0%   {transform: translate(0,0px);}
    100% {transform: translate(0,-30px);}
  }
#back-cats {position: absolute; top:80px; width: auto; left:0px; animation: upndown 1.5s alternate infinite ease-in;}
@keyframes upndown {
  0%   {transform: translate(0,0px);}
  100% {transform: translate(0,30px);}
}

#main_downcircle {position: absolute; top:460px; left:50%; margin-left: -367.5px; width: auto; animation: decrescendo 2s alternate infinite ease-in;}
#main_topcircle {position: absolute; top:265px; left:950px; margin-left:-247px; width: 514px; height: 485px;

animation: crescendo 2s alternate infinite ease-in;
  }
  @keyframes crescendo {
    0%   {transform: scale(1);}
    100% {transform: scale(1.05);}
  }
  @keyframes decrescendo {
    0%   {transform: scale(1.05);}
    100% {transform: scale(1);}
  }

#main-bottom {position: absolute; top:1070px; left:50%; margin-left:-213px; width: auto;}
#maincat {position: absolute; left:50%; margin-left: -262px; top:400px; width: auto;}


#lcat1 {position: absolute; left:600px; top: 900px; width:auto;}
#lcat2 {position: absolute; left:380px; top:900px; width:auto;}
#lcat3 {position: absolute; left:100px; top:830px; width:auto;}
#lcat4 {position: absolute; left:0px; top:1020px; width:auto;}
#lcat5 {position: absolute; left:300px; top:1040px; width:auto;}
#lcat6 {position: absolute; left:50px; top: 1300px; width:auto;}
#lcat7 {position: absolute; left:580px; top:1220px; width:auto;}
#lcat8 {position: absolute; left:400px; top:1290px; width:auto;}

#rcat1 {position: absolute; left:1055px; top:900px; width:auto;}
#rcat2 {position: absolute; left:1280px; top:890px; width:auto;}
#rcat3 {position: absolute; left:1455px; top:830px; width:auto;}
#rcat4 {position: absolute; right:0px; top:1020px; width:auto;}
#rcat5 {position: absolute; left:1355px; top:1040px; width:auto;}
#rcat6 {position: absolute; left:1500px; top:1300px; width:auto;}
#rcat7 {position: absolute; left:1200px; top:1250px; width:auto;}
#rcat8 {position: absolute; left:940px; top:1220px; width:auto;}

#redgdt {position: absolute; width: auto;height: auto;top:1515px; left: 0;}

#myosism {position: absolute; top:-40px; left:180px; font-family: 'Song Myung', serif; font-size: 5em; color:#f8ff39; }



.contents2{position: relative; width:1920px; height:1080px; overflow: hidden;}

#secondtt { font-family: 'Song Myung', serif; font-size: 3em; writing-mode: vertical-rl; text-orientation: mixed; color:#f8ff39; position: absolute; top:200px; right:50px; line-height: 1.5em; letter-spacing:-3px;}

#secondtxt { font-family: 'Song Myung', serif; font-size: 2em; writing-mode: vertical-rl; text-orientation: mixed; color:#f8ff39; position: absolute; top:200px; right:350px; line-height: 1.5em;}





.contents3 {position: relative; width: 1920px; height:1080px; font-family: 'Song Myung', serif; text-align: center;  overflow: hidden;}

.container {margin: 0 auto;
  position: absolute;
width: 1920px;
height: 1080px;
background:#4c4c4c;
transition: 0.3s;
}

.slide_img{
  position: absolute;
  width:100%;
  height: 100%;
  transition: 0.3s;
}

.slide_img img{
  width:100%;
  height: 100%;
  transition: 0.3s;
}

#i1, #i2, #i3, #i4, #i5{
  display: none;
  transition: 0.3s;
}

.pre, .nxt {
  width: 2%;
  height: 6%;
  position: absolute;
  top:900px;
  background: none;
  z-index: 99;
  cursor: pointer;
  overflow: hidden;
}

.pre{
  left:800px;
  transition: 0.3s;
  opacity: 0.5;
}

.pre:hover{
  left:790px;
  opacity: 1;
}

.nxt{
  right:800px;
  opacity: 0.5;
  transition: 0.3s;
  
}

.nxt:hover{
  right:790px;
  opacity: 1;
}

.navigation {
  width: 100%;
  height: 50px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots{
  top: -5px;
  width: 10px;
  height: 10px;
  margin:0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: red;
  opacity: 0.6;
}

.slide_img{
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five{
  z-index: 9;
}

#i1:checked ~ .navigation #dot1,
#i2:checked ~ .navigation #dot2,
#i3:checked ~ .navigation #dot3,
#i4:checked ~ .navigation #dot4,
#i5:checked ~ .navigation #dot5{
  background: red;
}



#titletale {position: absolute; top:20px; left: 250px; font-size: 5em; color:#f8ff39;}


.contents4 {position: relative; width: 1920px; height:1080px; font-family: 'Song Myung', serif; text-align: center;  overflow: hidden;}

#eye {position: absolute; top:80px; left:50%; margin-left: -582px; animation: blinkeye 3s alternate infinite ease-in;}
  @keyframes blinkeye {
    0%   {opacity: 0.4;}
    50% {opacity: 1;}
    100% {opacity: 0.4;}
  }
#eyetxt {position: absolute; top:100px;  width: 900px; left: 50%; margin-left: -450px; font-size: 2em; color:#f8ff39; line-height: 1.5em; text-shadow: 0 0 10px #ff0000; font-weight: 400; letter-spacing:-3px;}

#txtarray {font-size: 4em; color:#f8ff39; font-weight:400;}
#peace{position: absolute; top:700px; left:550px;animation: downnup 1.5s alternate infinite ease-in; color:#f8ff39;}

#afraid{position: absolute; top:600px; left:900px; animation: upndown 1.5s alternate infinite ease-in;color:#f8ff39;}
#respect{position: absolute; top:720px; left: 1250px;animation: downnup 1.5s alternate infinite ease-in;color:#f8ff39;}




.contents5 {position: relative; width: 1920px; height:1080px;  font-family: 'Song Myung', serif; overflow: hidden;background-color: white;}

#bgvideo{
  position: absolute; top:0; left: 0; width:100%; height: 100%; }

#mcatonvideo {position: absolute; top:50%; margin-top: -366px; right:0; margin-right: -50px;}

#afraidht {position: absolute; top: 80px; left:300px; font-size: 5em; color:red; letter-spacing:-3px;}
#afraidtxt {position: absolute; top: 600px; left: 650px; width: 700px; font-size: 1.8em; color:red; line-height: 1.5em; letter-spacing:-3px;  }

#peacealign{text-align: center;}

#peaceht {position: absolute; top: 20px; left:600px; font-size: 5em; color:#f8ff39; letter-spacing:-3px;}
#peacetxt {position: absolute; top: 200px; left: 550px; width: 800px; font-size: 1.8em; color: #f8ff39; line-height: 1.5em;letter-spacing:-3px;}

#pcat1 {position: absolute; top:380px; left:350px;}
#pcat2 {position: absolute; top:420px; left:650px;}

#pcat3 {position: absolute; top:380px; right:250px;}
#pcat4 {position: absolute; top:420px; right:550px;}

#respectht {position: absolute; top: 300px; left:400px; font-size: 5em; color:red; letter-spacing:-3px;}
#respecttxt {position: absolute; top:500px; left:400px; width: 550px; font-size: 1.8em; color:red; line-height: 1.5em; letter-spacing:-3px; }

#r2catb {position: absolute; top:-100px; right: 0px;}
#r2cat1 {position: absolute; top:380px; right:550px;}
#r2cat2 {position: absolute; top:420px; right:300px;}

#r2cat3 {position: absolute; top:380px; right:50px ;}
#r2cat4 {position: absolute; top:420px; right:-100px;}


.contents6 {position: relative; width: 1920px; height:1080px; font-family: 'Song Myung', serif; overflow: hidden; }

.contents7 {position: relative; width: 1920px; height:1080px; font-family: 'Song Myung', serif; overflow: hidden;background-color: white;}




.contents8 {position: relative; width:1920px; height:3240px; font-family: 'Song Myung', serif; overflow: hidden;}
#land {position: absolute; width: auto; height: auto; bottom:0px; }

#topwave {position: absolute; width: auto; height: auto; top:1880px; animation: downnup 4s alternate infinite ease-in;}

#bottomwave {position: absolute; width: auto; height: auto; bottom:0px; animation: downnup 3s alternate infinite ease-in;}

#man1 {position: absolute; width: auto; height: auto; bottom:50px; right:600px;}

#man2 {position: absolute; width: auto; height: auto; bottom:350px; left:400px;}

#man3 {position: absolute; width: auto; height: auto; bottom:900px; right:500px;}

#cats1 {position: absolute; width: auto; height: auto; bottom:130px; left:350px;}

#cats2 {position: absolute; width: auto; height: auto; bottom:700px; left:550px;}

#ele {position: absolute; width: auto; height: auto; bottom:1280px; left:400px;} 
#lions {position: absolute; width: auto; height: auto; top:1100px; left:650px;} 
#lastmans {position: absolute; width: auto; height: auto; top:1020px; left:600px;}


#frontwave {position:absolute; width: auto; height: auto; bottom:0px;; }
#frontrock {position:absolute; width: auto; height: auto; right:0px; bottom:0px;}

#leftcloud {position:absolute; width: auto; height: auto; left:0px; top:200px; animation: downnup 4s alternate infinite ease-in;}

#rightcloud {position:absolute; width: auto; height: auto; right:0px; top:200px; animation: downnup 4s alternate infinite ease-in;}

#topcd {position:absolute; width: auto; height: auto; left:0px; top:0px;}

#ciny {position: absolute;width: auto; height: auto; left:550px; top:50px; animation: downnup 3s alternate infinite ease-in; }

#angel {position: absolute;width: auto; height: auto; left:200px; top:50px; animation: upndown 3s alternate infinite ease-in;}

#soultt {position: absolute; top:850px; left:620px; width: 600px; height: 150px; background: red; border: 1px solid #f8ff39; font-family:'Song Myung', serif; overflow: hidden; font-size: 2em;}
#soulttinner {position: absolute; text-align: center; line-height: 80px; color:#f8ff39; left:120px; top:5px; letter-spacing:-3px;}

#howto1 {position: absolute; left:80px; top:1200px;  width: auto; height: auto; font-family:'Song Myung', serif; letter-spacing:-3px;}

#howto1p {position: relative; top:0; left: 0; padding: 15px; font-size: 1.3em; color:#f8ff39; line-height: 0px; margin:50px; background-color: red; letter-spacing:-3px;}

#howto2 {position: absolute; right: 50px; top:1500px; background-color: red; width: 300px; height: 200px;}

#howto2p {color:#f8ff39; font-size: 1.5em; text-align: right; margin:0; padding:20px; line-height: 1.7em; letter-spacing:-3px;}

#howto3{position: absolute; left: 300px; top:1900px; background-color: red; width: 420px; height: 270px;}

#howto3p {color:#f8ff39; font-size: 1.5em; text-align: left; margin:0; padding:20px; line-height: 1.7em; position: relative; letter-spacing:-3px;}

#howto3ps {color:#f8ff39; font-size: 1.3em; text-align: left; margin:0; padding:20px; line-height: 1em; position: relative; letter-spacing:-3px;}

#howto4 {position: absolute; top:2400px; right:250px; width: 300px; height: 160px; background: red;}
#howto4p {color:#f8ff39; font-size: 1.8em; text-align: right; margin:0; padding:20px; line-height: 1.5em; position: relative; letter-spacing:-3px;}



#yellowcloud {position: absolute;  width: 100%; height: auto;}


.contents9 {position: relative; width: 100%; height:1080px; font-family: 'Song Myung', serif; overflow: hidden;}

#figillust {position: absolute; width: auto%; height:auto; margin: 0; top:0px; right:0px;}


#figtt {position: absolute; top:200px; left:200px; width: 290px; height: 80px; background-color: #f8ff39; overflow: hidden; }

#fttinner {color:red; font-size: 3em; padding:15px; margin:0; letter-spacing:-3px;}

#figtxt {position: absolute; top:450px; left:250px; width: 400px; height: 380px; background-color: white; overflow: hidden; animation: heightAni 0.5s ease-in; letter-spacing:-3px; }



@keyframes heightAni {
    0% {
        height:30px;
    }
    100% {
        height:380px;
    }
}

#ftxtinner {color:black; font-size: 1.3em; padding:15px; margin:0; line-height: 25px; text-align: justify;}

#figsmall {position: absolute; top:700px; right:300px; width: 400px; height: 80px;  overflow: hidden;}

#figsmalltxt{color:black; font-size: 1.5em; color:#f8ff39; }

#figillu {position: absolute; top:700px; left:150px;}
#figtree {position: absolute; top:570px; left: 500px; background-blend-mode: multiply;}


.contents10 {position: relative; width: 1920px; height:1080px; font-family: 'Song Myung', serif; overflow: hidden; background-color: white;}


#firsttitle {position: absolute; top: 100px; left:270px; width:480px; height: 80px; background-color: black;}

#ftitle {color:white; padding-top:25px; font-size: 2em; padding-left:20px; margin:0; letter-spacing:-3px;}

#firsttxt {position: absolute; top: 250px; left:270px; width:480px; height:670px; background-color: #e8e8e8; letter-spacing:-3px;}
#ftxt {position: absolute; padding:30px; margin:0; font-size: 1.2em; color:black; line-height: 1.5em; text-align: justify;}

#ftxtlink {position: absolute; bottom: 10px; left:30px; font-size: 1.2em; color:red; cursor: pointer;}


#ftxtlink:hover {
  color:white;
}


#secondbox{position: absolute; right:50px; width: 1100px; height: 400px; top:100px; }

#secondbox img{position: absolute;left:0; top:0; width: auto; height: auto; margin:0; padding: 0;}

#thirdbox {position: absolute; right:200px; width: 430px; height: 400px; top:520px; background-color: black;}

#fothbox {position: absolute; right:650px; width:500px; height: 400px; top:520px; background-color: black;}




.contents11 {position: relative; width: 1920px; height:1080px; font-family: 'Song Myung', serif; overflow: hidden;}

#profile1 {position: absolute; width:550px; height: 1080px;  left:0; top:0; letter-spacing:-3px;}

#myosismlast {position: absolute; right:50px; top:660px; width:360px; height: 440px; font-size: 2.5em; color:#f8ff39; text-align: right; line-height: 1.5em; margin-top: 0; letter-spacing:-3px;}

#profile2 {position: absolute; width:820px; height: 1080px; background-color: yellow; left:552px; top:0; border: 1px solid #f8ff39;}

#profileillu {position: absolute; width:auto; height: auto;}



#profile3 {position: absolute; width:550px; height: 1080px;  right:0px; top:0;}

#name {position: absolute; top:690px; left:50px; width:360px; height: 60px; font-size: 2em; color:#f8ff39; letter-spacing:-3px;}

#name p {padding: 20px; margin: 0;}

#major {position: absolute; top:780px; left:50px; width:350px; height: 60px; font-size: 1.5em; color:#f8ff39;}

#major p {padding: 20px; margin: 0;}

#adress {position: absolute; top:850px; left:50px; width:350px; height: 200px; font-size: 1.5em; color:#f8ff39;}

#adress p {padding: 20px; margin: 0; line-height: 1.5em;}



#ffc1 {position: absolute; left:0px; top:1700px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;} 

#ffc2 {position: absolute; right:0px; top:1600px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;} 

#ffc3 {position: absolute; left:600px; top:1600px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;}

#ffc4 {position: absolute; right:400px; top:2000px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;}


/*#dummy2 {position: absolute; left:0px; top:11500px; width:1920px; height: auto; overflow: hidden;} */


#sfc1 {position: absolute;left:0px; top:11500px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;}
#sfc2 {position: absolute; right:0px; top:11400px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;}
#sfc3 {position: absolute;left:600px; top:11400px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;}
#sfc4 {position: absolute;right:400px; top:11800px; width:auto; height: auto; overflow: hidden; animation-fill-mode: forwards;}

